  <nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'navbar-scrolled': this.isScrolled}">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Graver Elite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ml-auto">
          <li class="nav-item mr-4">
            <a class="nav-link active accent-hover lead" routerLink="/ponuda"><span class="icon-offer mr-2"></span>Ponuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active accent-hover lead" routerLink="/page/kontakt"><span class="icon-contact mr-2"></span>Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>