<div class="container my-5">

    <div class="hero row justify-content-center">
        <div class="col text-center">
            <div class="leading">
                <h3 class="display-3 font-weight-bold">Lasersko graviranje</h3>
                <p>Graviranje po želji na drvetu, koži i papiru.</p>
            </div>
        </div>
        <div class="col">
            <img class="leading-img img-fluid" src="assets/img/engraving.jpg">
        </div>
    </div>
    <hr>

    <div class="information my-5 py-5">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-sm-12">
                <h5 class="display-4 font-weight-bold">Što je lasersko graviranje?</h5>
                <p>Lasersko graviranje je tehnika kojom se pomoću laserske zrake svjetlosti u tvrde materijale poput
                    drva, plastike, stakla ili metala utiskuje neki uzorak ili slika.</p>
                <a href="#primjer" class="btn btn-accent btn-rounded btn-lg mt-3 effect-pop">
                    <span class="icon-down mx-1"></span>Vidi primjere</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="cards my-5 py-5" id="primjer">
        <h4 class="font-weight-bold mb-3">Primjeri ></h4>
        <div class="card-deck">
            <div class="card effect-pop">
                <img class="card-img-top" src="assets/img/photo.jpg" alt="Slika na mdf drvetu">
                <div class="card-body">
                    <h5 class="card-title">Slike</h5>
                    <p class="card-text">Izaberite između MDF i punog drveta u formatima A3, A4 te A5. Moguća je i veličina po želji.</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-order text-dark"><span class="icon-order mr-2 text-accent"></span>Naruči</button>
                </div>
            </div>
            <div class="card effect-pop">
                <img class="card-img-top" src="assets/img/shapes.jpg" alt="Daska za rezanje">
                <div class="card-body">
                    <h5 class="card-title">Razni oblici</h5>
                    <p class="card-text">Možete naručiti oblike poput srca, daske za rezanje..</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-order text-dark"><span class="icon-order mr-2 text-accent"></span>Naruči</button>
                </div>
            </div>
            <div class="card effect-pop">
                <img class="card-img-top" src="assets/img/quote.jpg" alt="Citat na dasci">
                <div class="card-body">
                    <h5 class="card-title">Poruke i citati</h5>
                    <p class="card-text">Poruke ili citati na komadu daske su odličan primjer personaliziranog poklona.</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-order text-dark"><span class="icon-order mr-2 text-accent"></span>Naruči</button>
                </div>
            </div>
        </div>
    </div>

</div>