<div class="offers container my-5">
    <h1 class="font-weight-bold mb-3"><span class="icon-offer mr-2 text-accent"></span>Ponuda</h1>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4" *ngFor="let offer of this.apiService.offers">
            <div class="card effect-pop">
                <img class="card-img-top" [src]="offer.image" alt="Slika na mdf drvetu">
                <div class="card-body">
                    <h5 class="card-title">{{offer.title}}</h5>
                    <p class="card-text">{{offer.desc}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-order text-dark"><span class="icon-order mr-2 text-accent"></span>Naruči</button>
                </div>
            </div>
        </div>
    </div>
</div>