<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-12 mb-5">
                <a class="navbar-brand" routerLink="/">Graver Elite</a>
                <p class="text-muted">Copyright © 2020-2021</p>
                <small class="text-muted">Design by: <a href="https://cukfilip.com">cukfilip.com</a></small>
            </div>
            <div class="col-md-3 col-sm-12 mb-5">
                <p class="text-accent font-weight-bold">Kontakt</p>
                <p>Email: elite.graver@gmail.com</p>
                <p>Telefon: /</p>
            </div>
            <div class="col-md-3 col-sm-12 mb-5">
                <p class="text-accent font-weight-bold">Društvene mreže</p>
                <p><a class="text-white" href="https://fb.me/graver.elite">Facebook</a></p>
                <p><a class="text-white" href="https://instagram.com/graver.elite">Instagram</a></p>
            </div>
            <div class="col-md-3 col-sm-12 mb-5">
                <p class="text-accent font-weight-bold">O nama</p>
                <p>Lokacija: Široki Brijeg</p>
                <p>Područje dostave: BiH (osobno preuzimanje na području Širokog Brijega)</p>
            </div>
        </div>
    </div>
</div>